footer
	.nav-footer
		.container
			.col-group
				.col
					ul
						li.title CARI PEKERJA
						li
							a(href="#") Buat Pekerjaan
						li
							a(href="#") Cari Layanan
						li
							a(href="#") Showcase
						li
							a(href="#") Jelajahi Pekerja
				.col
					ul
						li.title CARI KERJA
						li
							a(href="#") Cari Pekerjaan
						li
							a(href="#") Buat Layanan
					ul
						li
							a(href="#") Cari Kerja
				.col
					ul
						li.title SUPPORT
						li
							a(href="#") FAQ
						li
							a(href="#") Customer Service
						li
							a(href="#") Security
						li
							a(href="#") Laporkan Bug
						li
							a(href="#") Investor
				.col
					ul
						li.title JURAGANGO
						li.smaller Jl. bla bla bla
						li.smaller asdasd asda
					ul
						li.smaller Phone							
						li.smaller Fax
					ul.hr-list
						li
							a(href="#") f
						li
							a(href="#") in
						li
							a(href="#") t
						li
							a(href="#") g
	.navbar.navbar-bottom
		.container
			a.navbar-brand(href="#")
			ul.navbar-nav.navbar-right
				li
					a(href="#") About Us
				li
					a(href="#") Privacy Policy
				li
					a(href="#") Terms & Conditions