footer
	.nav-footer
		.container
			.col-group
				.col
					ul
						li.title CARI PEKERJA
						li
							a(href="#") Buat Pekerjaan
						li
							a(href="#") Cari Layanan
						li
							a(href="#") Showcase
						li
							a(href="#") Jelajahi Pekerja
					ul
						li.title CARI KERJA
						li
							a(href="#") Cari Pekerjaan
						li
							a(href="#") Buat Layanan
					ul
						li.title
							a(href="#") CARA KERJA
				.col
					ul
						li.title SUPPORT
						li
							a(href="#") FAQ
						li
							a(href="#") Customer Service
						li
							a(href="#") Security
						li
							a(href="#") Laporkan Bug
					ul
						li.title PERUSAHAAN
						li
							a(href="#") Tentang Kami
						li
							a(href="#") Kebijakan Privasi
						li
							a(href="#") Syarat & Ketentuan
						li
							a(href="#") Investor
				.col.col-md-left
					ul
						li.title JURAGANGO
						li.smaller Jl. bla bla bla
						li.smaller asdasd asda
					ul
						li.smaller Phone							
						li.smaller Fax
					ul.hr-list.social-media
						li
							a(href="#")
								i.fa.fa-facebook
						li
							a(href="#")
								i.fa.fa-linkedin
						li
							a(href="#")
								i.fa.fa-twitter
						li
							a(href="#")
								i.fa.fa-google-plus
	.navbar.navbar-bottom
		.container
			p &copy; 2017-2018. JuraganGo.
			