header.navbar.navbar-top
	.container
		a.navbar-brand(href="") Logo
		.navbar-toggler(data-toggle="collapse",data-target="#navbar-offcanvas")
			span
			span
			span
			span
		#navbar-offcanvas
			ul.navbar-nav.accordion
				li.accordion-items
					a(href="#",data-toggle="accordion") Cari Pekerja
						span.fa.fa-angle-down
					ul.accordion-body
						li.title Beri Pekerjaan
						li
							a(href="./new-job.html") Buat Pekerjaan
						li
							a(href="./services.html") Cari Layanan
						li.separator
						li.title Temukan
						li
							a(href="./showcases.html") Showcase
						li
							a(href="./workers.html") Jelajah Pekerja
				li.accordion-items
					a(href="#",data-toggle="accordion") Cari Kerja
						span.fa.fa-angle-down
					ul.accordion-body
						li
							a(href="./jobs.html") Cari Pekerjaan
						li
							a(href="./new-service.html") Buat layanan
				li
					a(href="how-it-works.html") Cara Kerja
			ul.navbar-nav.navbar-right
				li
					a(href="./login.html") Login
				li
					a(href="./register.html") Daftar