header.navbar.navbar-top
	.container
		a.navbar-brand(href="#") Logo
		.navbar-toggler(data-toggler="collapse",data-target="#navbar-offcanvas")
			span
			span
			span
		#navbar-offcanvas
			ul.navbar-nav
				li.dropdown
					a(href="#") Cari Pekerja
						span.fa.fa-caret
					ul.dropdown-menu
						li.title Beri Pekerjaan
						li
							a(href="#") Buat Pekerjaan
						li
							a(href="#") Cari Layanan
						li.separator
						li.title Temukan
						li
							a(href="#") Showcase
						li
							a(href="#") Jelajah Pekerja
				li.dropdown
					a(href="#") Cari Kerja
						span.fa.fa-caret
					ul.dropdown-menu
						li
							a(href="#") Cari Pekerjaan
						li
							a(href="#") Buat layanan
				li
					a(href="#") Cara Kerja
			ul.navbar-nav.navbar-right
				li
					a(href="./login.html") Login
				li
					a(href="./register.html") Daftar