include includes/header.pug
body
	include includes/topnav.pug	
	.content
		section#intro
			img.section-bg(src="https://html5backgroundvideos.com/wp-content/uploads/2015/09/typing-side-on.jpg")
			.section-content.section-content__middle
				.container
					h1.section-title Kembangkan bisnis anda dengan mudah
					.section-description
						p Lebih cepat, lebih handal dengan harga kompetitif
						a.btn.btn-orange(href="#") Bantu saya selesaikan pekerjaan
						a.btn.btn-green(href="#") Cari pekerjaan
		section#how-it-works
			.section-content
				.container
					h1.section-title Cara Kerja JuraganGo
					.section-description
						.col-group
							.col
								.cards
									.card-body.text-center
										.card-title 
											h4 Describe
										.card-description
											p Jelaskan kebutuhan anda
							.col
								.cards
									.card-body.text-center
										.card-title
											h4 Recruit
										.card-description
											p Jelaskan kebutuhan anda
							.col
								.cards
									.card-body.text-center
										.card-title
											h4 Work
										.card-description
											p Jelaskan kebutuhan anda
							.col
								.cards
									.card-body.text-center
										.card-title
											h4 Pay
										.card-description
											p Jelaskan kebutuhan anda
		section#benefits
			.section-content
				.container
					.col-group
						.col
							h2 Mengapa JuraganGo?
						.col
							.cards
								.card-body.text-center
									.card-title
										h4 Pay
									.card-description
										p Jelaskan kebutuhan anda
		section#call-action.section-small
			.section-content.section-content__middle
				.container
					.section-description.text-center
						p Bergabung sekarang
						a.btn.btn-orange(href="#") Buat pekerjaan
						a.btn(href="#") Cari kerja
	include includes/footer.pug
