include includes/header.pug
body.login
	.container
		.cards.login-box
			.card-header
				a(href="/")
					h1 Register
			.card-body
				form
					.form-group
						input.form-control(type="text",name="uname",placeholder="Username")
					.form-group
						input.form-control(type="email",name="email",placeholder="Email")
					.form-group
						input.form-control(type="password",name="passwd",placeholder="Password")
					.form-group
						input.form-control(type="password",name="repasswd",placeholder="Retype password")
					.form-group
						input.btn.btn-block.btn-lg.btn-primary(type="submit",name="register",value="Register")
					hr
					.form-group.text-center
						p Sudah punya akun? Login 
							a(href="register.html") disini