@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

@import "~normalize.css";
@import "variables.scss";
@import "base.scss";
@import "grid.scss";
@import "navs.scss";
@import "forms.scss";
@import "buttons.scss";


.content {
	margin-top: 80px;
}

section {
	min-height: 580px;
	overflow: hidden;
	padding: 3rem 0;
	position: relative;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	.section-bg {
		height: 100%;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		z-index: -1;
	}
	.section-content {
		text-align: center;
		.section-title {
			margin-bottom: 2rem;
			text-shadow: 0 1px $offwhite;
		}
		p {
			margin-bottom: 1.25rem;
		}
		& .btn {
			display: block;
		}
	}
	&#intro {
		margin-top: -80px;
	}
	&#cta {
		background-color: $darkblue;
		color: white;
		min-height: auto;
		.section-title {
			text-shadow: 0 1px lighten($darkblue,10%);
		}
	}
}