@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

@import "~normalize.css";
@import "~include-media/dist/_include-media.scss";
@import "variables.scss";
@import "base.scss";
@import "grid.scss";
@import "navs.scss";
@import "forms.scss";
@import "buttons.scss";

$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

.content {
	margin-top: 80px;
}

section {
	min-height: 580px;
	overflow: hidden;
	padding: 3rem 0;
	position: relative;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	.section-bg {
		height: 100%;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		z-index: -1;
		@include media('>=desktop') {
			height: auto;
			width: 100%;
		}
	}
	.section-content {
		text-align: center;
		.section-title {
			margin-bottom: 2rem;
			text-shadow: 0 1px $offwhite;
		}
		p {
			margin-bottom: 1.25rem;
		}
		& .btn {
			display: block;
			@include media('>=tablet') {
				display: inline-block;
			}
			&+.btn {
				@include media('>=tablet') {
					margin-left: .5rem;
				}
			}
		}
	}
	&#intro {
		margin-top: -80px;
	}
	&#cta {
		background-color: $darkblue;
		color: white;
		min-height: auto;
		.section-title {
			text-shadow: 0 1px lighten($darkblue,10%);
		}
	}
}

.login-box {
	margin: 15rem auto 0;
	@include media('>=tablet') {
		width: 25rem;
	}
}