* {
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: "Open Sans";
	color: $base;
	line-height: 1.5;
	overflow-x: hidden;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: $darkblue;
	display: inline-block;
	&:hover,
	&:visited {
		text-decoration: none;
	}
}

h1,
h2,
h3,
h4, 
p {
	margin: 0;
}

.hr-list {
	display: flex;
}

.text-center {
	text-align: center;
}