.btn {
	border: 1px solid $dark-blue;
	cursor: pointer;
	display: inline-block;
	padding: .5rem 1.25rem;
	&+.btn {
		margin-left: .3125rem;
	}
	&:hover {
		background-color: $dark-blue;
		color: white;
	}
	&-block {
		display: block;
		width: 100%;
	}
	&-lg {
		font-size: 1.25rem;
		padding: .5rem 1rem;		
	}
	&-orange {
		background-color: $primary-orange;
		color: white;
		border-color: darken($primary-orange,10%);
		&:hover {
			background-color: darken($primary-orange,5%);
		}
	}
}