.navbar {
	width: 100%;
	&>.container {
		display: flex;		
		height: 100%;
		justify-content: space-between;		
		align-items: center;
	}
	&-toggler {
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		height: 1.25rem;		
		cursor: pointer;
		span {
			background-color: $darkblue;
			height: 1px;
			width: 1.5rem;
		}
	}
	&-brand {	
	}
	.navbar-nav {
		&>li {
			border-bottom: 1px solid $grey;
			&.dropdown>a {
				border-bottom: 1px solid $grey;
			}
		}
		li {
			&>a {				
				padding: .5rem 1rem;
				display: block;
			}
			.dropdown-menu a {
				color: darken($grey, 20%);
				text-indent: 1rem;				
			}			
		}		
		.title {
			font-size: small;
			padding: .2rem 1rem;
			color: lighten($base,40%);
		}
	}
	&-top {		
		position: fixed;
		top: 0;
		height: 80px;		
		z-index: 2;
	}
	#navbar-offcanvas {
		background: white;		
		border-right: 1px solid darken(white, 10%);
		position: fixed;
		width: 100%;
		top: 80px;
		bottom: 0;
		transition: all 5s linear;
		left: -100%;
	}
}

.nav-footer {
	padding: 3rem 0;
}